{% extends "base.html" %}

{% block content %}
<h1>Hello Netgear!</h1>

<main>
    <div class="intro">

      <p>I am glad to have this opportunity to showcase my eagerness to learn and adapt to new projects. Here are some facts about me</p>
      <button>Learn More</button>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="1"></i>
        <p class="work-heading">Relevant Course Work:</p>
        <p class="work-text"> Network Administration, Cloud Computing, C++, Software Management, Calculus, Management and
            Organizational Behavior</p>
      </div>
      <div class="work">
        <i class="2"></i>
        <p class="work-heading">Skills:</p>
        <p class="work-text"> Proficient in Microsoft Office, Google Suite, C++, WordPress; intermediate in Adobe Creative Cloud, Squarespace,
            Jira Agile, Linux, Teamviewer</p>
      </div>
      <div class="work">
        <i class="3"></i>
        <p class="work-heading">Work Experience:</p>
        <p class="work-text">N2N Connect Sdn Bhd., Kuala Lumpur, Malaysia October 2018 - January 2019
            Software QA Intern for Asia’s largest capital market provider (publicly traded company)
            </p>
            <p class="work-text">Assistant Production Director for well-established production house with international clientele
                </p>
      </div>
    </div>

  </main>
{% endblock content %}
